<% provide(:title, "About") %>

<h1>About Molten Light</h1>
<p>
  Ghosts are historically out of date beings. For far too long ghosts have had to keep track of their hauntings inside of their non-corporeal brains. Molten Light allows them to keep a log of the persons and locations that they wish to permeate.
</p>