<% provide(:title, "Home") %>

<div class="center jumbotron">
  <div class="welcome">	
  	<h1>Welcome to Molten Light</h1>
	</div>

	  <h2>
	    Please <%= link_to "Log In", '#', class: "btn btn-lg btn-primary" %> </br> or </br> <%= link_to "Register", '#', class: "btn btn-lg btn-primary" %>
	  </h2>
</div>