<footer class="footer">
	<div class="container">
		<%= link_to image_tag("jp-skull-bw-small.svg"),
	            'https://github.com/jrmypttrsn/molten_light', id: "jp-logo" %>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</nav>
	</div>
</footer>